<%- include('partials/header') -%>
    <main> 
        <div class="row w-100 my-md-3 ps-md-3">
            <h2>Hi, <%= user.firstName %>!  Here is your Cart</h2>
        </div>
            

    </main>
<%- include('partials/footer') -%>