<%- include('partials/header') -%>

<h1>THIS IS A BUSINESS PAGE</h1>
    
    <main> 
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
            <video autoplay muted loop playinline class="bg-video">
                <source src="/imgs/index.mp4" type="video/mp4" />
            </video>
            
            <div class="col-md-6 p-lg-5 mx-auto my-5 z-1"> 
                <h1 class="display-3 fw-bold text-white">Buying and Selling</h1>
                <h3 class="fw-normal mb-3 text-white">We are here for everyone</h3> 
                <div class="d-flex gap-3 justify-content-center lead fw-normal text-white"> 
                    <a class="icon-link" href="/signup-business">for Business<svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg></a>
                    <a class="icon-link" href="/signup-customer">for Customers<svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg></a> 
                </div> 
            </div>
        </div>
        <!-- list of products we will have this as a random products highlighted on the page from sellers -->

        <div class="row w-100 my-md-3 ps-md-3">
            <div class="col-md-4 mb-3">
                <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"> 
                    <div class="my-3 p-3"> 
                        <h2 class="display-5">Product 1</h2> 
                        <p class="lead">Product 1 Description</p> 
                    </div> 
                    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; overflow: hidden;">
                        <img src="imgs/unsplash1.jpg" alt="unsplash image of romper" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"> 
                    <div class="my-3 p-3"> 
                        <h2 class="display-5">Product 2</h2> 
                        <p class="lead">Product 2 Description</p> 
                    </div> 
                    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; overflow: hidden;">
                        <img src="imgs/unsplash2.jpg" alt="unsplash image of couch" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"> 
                    <div class="my-3 p-3"> 
                        <h2 class="display-5">Product 3</h2> 
                        <p class="lead">Product 3 Description</p> 
                    </div> 
                    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; overflow: hidden;">
                        <img src="imgs/unsplash3.jpg" alt="unsplash image of makeup brushes" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"> 
                    <div class="my-3 p-3"> 
                        <h2 class="display-5">Product 4</h2> 
                        <p class="lead">Product 4 Description</p> 
                    </div> 
                    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; overflow: hidden;">
                        <img src="imgs/unsplash4.jpg" alt="unsplash image of colored pencils" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"> 
                    <div class="my-3 p-3"> 
                        <h2 class="display-5">Product 5</h2> 
                        <p class="lead">Product 5 Description</p> 
                    </div> 
                    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; overflow: hidden;">
                        <img src="imgs/unsplash5.jpg" alt="unsplash image of book stack" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"> 
                    <div class="my-3 p-3"> 
                        <h2 class="display-5">Product 6</h2> 
                        <p class="lead">Product 6 Description</p> 
                    </div> 
                    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; overflow: hidden;">
                        <img src="imgs/unsplash6.jpg" alt="unsplash image of denim jacket" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                </div>
            </div>
        </div> 

    </main>
<%- include('partials/footer') -%>