body {
  font-family: 'Raleway', sans-serif;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: -1;  */
  opacity: 0.95; 
}

.z-1 {
  position: relative;
  z-index: 1; 
}

.text-white {
  color: white !important;  /* Forces the text to be white */
}

ul
{
    list-style-type: none;
}

.selected-company {
  color: green;
  font-weight: bolder;
}

a {
  color: #0056b3;
  text-decoration: none;
  border-bottom: 1px dotted #0056b3;
}

a:hover,
a:focus {
  text-decoration: underline;
}

