@font-face {
    font-family: 'CustomFont';
    src: url('/assets/fonts/CustomFont.woff2') format('woff2'),
         url('/assets/fonts/CustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'CustomFont', sans-serif;
  }